<div> {{test}} home </div>

<button ng-click="authenticate()">Sign in with GitHub</button>

<br>

<div class="row">
	<div class="section">
		<div ng:repeat="member in members">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src={{member.avatar}}>
						<span class="card-title safe-white-color">
						{{member.name}}
						</span>
					</div>
					<div class="card-content">
						<p>
							last update: {{member.updated}}
						</p>
					</div>
					<div class="card-action">
						<a href="#">load sketch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

